[submodule "Wazuh/wazuh-ansible"]
	path = Wazuh/wazuh-ansible
	url = https://github.com/wazuh/wazuh-ansible.git
[submodule "salt-vagrant-demo"]
	path = salt-vagrant-demo
	url = https://github.com/UtahDave/salt-vagrant-demo.git
